/********* NAV *****************/

.navigation-clean-button {
  background:#fff;
  padding-top:10px;
  padding-bottom:10px;
  color:#f4476b;
  border-radius:0;
  box-shadow:none;
  border:none;
  margin-bottom:0;
}

@media (max-width:767px) {
  .navigation-clean-button {
    padding-top:0;
    padding-bottom:0;
  }
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-header {
    padding-top:10px;
    padding-bottom:10px;
  }
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-right {
    margin-bottom:20px;
  }
}

.navigation-clean-button .navbar-brand {
  font-weight:bold;
  color:inherit;
}

.navigation-clean-button .navbar-brand:hover {
  color:#c41e3a;
}

.navigation-clean-button.navbar-inverse .navbar-brand:hover {
  color:#f0f0f0;
}

.navigation-clean-button .navbar-brand img {
  height:100%;
  display:inline-block;
  margin-right:10px;
  width:auto;
}

.navigation-clean-button .navbar-toggle {
  border-color:#ddd;
}

.navigation-clean-button .navbar-toggle:hover, .navigation-clean-button .navbar-toggle:focus {
  background:none;
}

.navigation-clean-button.navbar-inverse .navbar-toggle {
  border-color:#555;
}

.navigation-clean-button .navbar-toggle .icon-bar {
  background-color:#888;
}

.navigation-clean-button.navbar-inverse .navbar-toggle .icon-bar {
  background-color:#eee;
}

.navigation-clean-button .navbar-collapse, .navigation-clean-button .navbar-form {
  border-top-color:#ddd;
}

.navigation-clean-button.navbar-inverse .navbar-collapse, .navigation-clean-button.navbar-inverse .navbar-form {
  border-top-color:#333;
}

.navigation-clean-button .navbar-nav > .active > a, .navigation-clean-button .navbar-nav > .open > a {
  background:none;
  box-shadow:none;
}

.navigation-clean-button.navbar-default .navbar-nav > .active > a, .navigation-clean-button.navbar-default .navbar-nav > .active > a:focus, .navigation-clean-button.navbar-default .navbar-nav > .active > a:hover {
  color:#8f8f8f;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean-button.navbar .navbar-nav > li > a {
  padding-left:18px;
  padding-right:18px;
}

.navigation-clean-button.navbar-default .navbar-nav > li > a {
  color:#465765;
}

.navigation-clean-button.navbar-default .navbar-nav > li > a:focus, .navigation-clean-button.navbar-default .navbar-nav > li > a:hover {
  color:#37434d !important;
  background-color:transparent;
}

.navigation-clean-button .navbar-nav > li > .dropdown-menu {
  margin-top:-5px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  background-color:#fff;
  border-radius:2px;
}

.navigation-clean-button .dropdown-menu > li > a:focus, .navigation-clean-button .dropdown-menu > li > a {
  line-height:2;
  font-size:14px;
  color:#37434d;
}

.navigation-clean-button .dropdown-menu > li > a:focus, .navigation-clean-button .dropdown-menu > li > a:hover {
  background:#eee;
  color:inherit;
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-nav .open .dropdown-menu {
    box-shadow:none;
  }
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-nav .open .dropdown-menu > li > a {
    color:#37434d;
    padding-top:12px;
    padding-bottom:12px;
    line-height:1;
  }
}

.navigation-clean-button.navbar-inverse {
  background-color:#1f2021;
  color:#fff;
}

.navigation-clean-button.navbar-inverse .navbar-nav > .active > a, .navigation-clean-button.navbar-inverse .navbar-nav > .active > a:focus, .navigation-clean-button.navbar-inverse .navbar-nav > .active > a:hover {
  color:#8f8f8f;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean-button.navbar-inverse .navbar-nav > li > a {
  color:#dfe8ee;
}

.navigation-clean-button.navbar-inverse .navbar-nav > li > a:focus, .navigation-clean-button.navbar-inverse .navbar-nav > li > a:hover {
  color:#fff !important;
  background-color:transparent;
}

.navigation-clean-button.navbar-inverse .navbar-nav > li > .dropdown-menu {
  background-color:#1f2021;
}

.navigation-clean-button.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean-button.navbar-inverse .dropdown-menu > li > a {
  color:#f2f5f8;
}

.navigation-clean-button.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean-button.navbar-inverse .dropdown-menu > li > a:hover {
  background:#363739;
}

@media (max-width:767px) {
  .navigation-clean-button.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color:#fff;
  }
}

.navigation-clean-button .actions {
  margin-top:7px;
  margin-bottom:0;
}

.navigation-clean-button .actions .login {
  margin-right:7px;
  text-decoration:none;
  color:#465765;
}

.navigation-clean-button.navbar-inverse .actions .login {
  color:#dfe8ee;
}

.navigation-clean-button.navbar-inverse .actions .login:hover {
  color:#fff;
}

.navigation-clean-button .action-button, .navigation-clean-button .action-button:active {
  background:#f4476b;
  border-radius:20px;
  color:#fff;
  box-shadow:none;
  border:none;
  text-shadow:none;
  padding:10px 22px;
  transition:background-color 0.25s;
}

.navigation-clean-button .action-button:hover {
  background:#c41e3a;
}

.navigation-clean-button.navbar-inverse .action-button, .navigation-clean-button.navbar-inverse .action-button:active {
  background:#208f8f;
}

.navigation-clean-button.navbar-inverse .action-button:hover {
  background:#269d9d;
}



/********* TIMELINE *****************/

img {
  vertical-align:middle;
}

.img-responsive {
  display:block;
  height:auto;
  max-width:100%;
}

.img-rounded {
  border-radius:3px;
}

.timeline-centered {
  position:relative;
  margin-bottom:30px;
}

.timeline-centered:before, .timeline-centered:after {
  content:" ";
  display:table;
}

.timeline-centered:after {
  clear:both;
}

.timeline-centered:before, .timeline-centered:after {
  content:" ";
  display:table;
}

.timeline-centered:after {
  clear:both;
}

.timeline-centered:before {
  content:'';
  position:absolute;
  display:block;
  width:4px;
  background:#f5f5f6;
  left:50%;
  top:20px;
  bottom:20px;
  margin-left:-4px;
}

.timeline-centered .timeline-entry {
  position:relative;
  width:50%;
  float:right;
  margin-bottom:70px;
  clear:both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
  content:" ";
  display:table;
}

.timeline-centered .timeline-entry:after {
  clear:both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
  content:" ";
  display:table;
}

.timeline-centered .timeline-entry:after {
  clear:both;
}

.timeline-centered .timeline-entry.begin {
  margin-bottom:0;
}

.timeline-centered .timeline-entry.left-aligned {
  float:left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
  margin-left:0;
  margin-right:-18px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
  left:auto;
  right:-100px;
  text-align:left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
  float:right;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
  margin-left:0;
  margin-right:70px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
  left:auto;
  right:0;
  margin-left:0;
  margin-right:-9px;
  -moz-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}

.timeline-centered .timeline-entry .timeline-entry-inner {
  position:relative;
  margin-left:-22px;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
  content:" ";
  display:table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear:both;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
  content:" ";
  display:table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear:both;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
  position:absolute;
  left:-100px;
  text-align:right;
  padding:10px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
  display:block;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
  font-size:15px;
  font-weight:bold;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
  font-size:12px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  background:#fff;
  color:#737881;
  display:block;
  width:40px;
  height:40px;
  -webkit-background-clip:padding-box;
  -moz-background-clip:padding;
  background-clip:padding-box;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
  text-align:center;
  -moz-box-shadow:0 0 0 5px #f5f5f6;
  -webkit-box-shadow:0 0 0 5px #f5f5f6;
  box-shadow:0 0 0 5px #f5f5f6;
  line-height:40px;
  font-size:15px;
  float:left;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
  background-color:#ee4749;
  color:#fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
  background-color:#00a651;
  color:#fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
  background-color:#21a9e1;
  color:#fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
  background-color:#fad839;
  color:#fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position:relative;
  background:#f5f5f6;
  padding:1.7em;
  margin-left:70px;
  -webkit-background-clip:padding-box;
  -moz-background-clip:padding;
  background-clip:padding-box;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content:'';
  display:block;
  position:absolute;
  width:0;
  height:0;
  border-style:solid;
  border-width:9px 9px 9px 0;
  border-color:transparent #f5f5f6 transparent transparent;
  left:0;
  top:10px;
  margin-left:-9px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
  color:#737881;
  font-family:"Noto Sans",sans-serif;
  font-size:12px;
  margin:0;
  line-height:1.428571429;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
  font-size:16px;
  margin-bottom:10px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
  color:#303641;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
  -webkit-opacity:.6;
  -moz-opacity:.6;
  opacity:.6;
  -ms-filter:alpha(opacity=60);
  filter:alpha(opacity=60);
}

/********* FOOTER *****************/

.footer-clean {
  padding:50px 0;
  background-color:#fff;
  color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width:991px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}

div.col-md-3.item.social {
  float:right;
}
